@import "kpmp-base.scss";

.validationImage {
  height: 150px;
}

.validationMessage {
  vertical-align: bottom;
  height: 150px;
  display: table-cell;
}

.resultHeader {
  background-color: lightgray;
  font-weight: 700;
}

.heavierText {
  font-weight: 700;
}
.dropzone {
	padding-bottom: 15px;
	.react-fine-uploader-gallery-dropzone, .react-fine-uploader-gallery-nodrop-container {
		min-height: 120px;
	}

	.react-fine-uploader-gallery-file-input-container {
		background-color: #0275d8;
		border: 1px solid #0275d8;
	}

	.react-fine-uploader-gallery-file-input-container:hover {
		background-color: #286090;
		border: 1px solid #204d74;
	}
	.react-fine-uploader-gallery-retry-button {
		display: none;
	}
	.react-fine-uploader-gallery-pause-resume-button {
		display: none;
	}
	.react-fine-uploader-gallery-cancel-button {
		&.cancel-disabled {
			display: none;
		}
	}
	.attachment-modal-dropzone {
		max-height: 100px;
	}
}

#not-found-page {
  padding: 20px;
  background-color: #FAFBFC; }
  #not-found-page .not-found-image {
    max-width: 90%;
    margin-top: 30px;
    margin-right: 40px; }
  #not-found-page .not-found-container {
    max-width: 60%;
    margin: auto; }
  #not-found-page .not-found-text {
    padding-top: 30px; }
    #not-found-page .not-found-text .not-found-regular {
      font-size: 32px; }
    #not-found-page .not-found-text .not-found-small {
      font-size: 24px; }