@import "kpmp-base.scss";

.validationImage {
	height: 150px;
}

.validationMessage {
	vertical-align: bottom;
	height: 150px;
	display: table-cell;
}

.resultHeader {
	background-color: lightgray;
	font-weight: 700;
}

.heavierText {
	font-weight: 700;
}