@import "kpmp-base.scss";

.validationImage {
  height: 150px;
}

.validationMessage {
  vertical-align: bottom;
  height: 150px;
  display: table-cell;
}

.resultHeader {
  background-color: lightgray;
  font-weight: 700;
}

.heavierText {
  font-weight: 700;
}
#not-found-page {
  padding: 20px;
  background-color: #FAFBFC; }
  #not-found-page .not-found-image {
    max-width: 90%;
    margin-top: 30px;
    margin-right: 40px; }
  #not-found-page .not-found-container {
    max-width: 60%;
    margin: auto; }
  #not-found-page .not-found-text {
    padding-top: 30px; }
    #not-found-page .not-found-text .not-found-regular {
      font-size: 32px; }
    #not-found-page .not-found-text .not-found-small {
      font-size: 24px; }